*{
    margin:0px;
    padding: 0px;
}
body{
    direction: rtl;
}
.r{
    float: right;
}

.r2{
    float:right; 
    margin-right: -200px;
    margin-top:15px;
}

.l{
    float: left;
}

.l2{
    float: left;
}

.c{
    clear: both;
}
.w{
    width: 1000px;
    margin: 0px auto;
}
.w1{
    width: 1000px;
    margin: 10px auto;
}

.w3{
    float: left;
    font-family:tahoma;
    font-size:22px;
    color:#FFA500;
}

.headerTop{
    background: url('../images/header_bg.png');
    background-repeat: repeat-x;
    size: 20px;
}

.logo{
    padding: 20px;
}

.vide{
    background-color: #4f80ca;
    border: 1px solid #FFA500;
    padding: 10px;
    font-family: tahoma;
    font-size: 16px;
    color: #f8f3f1;
    text-align: center;
}


.menuBar{
    background-color:#4374bd;
    border-top: 7px solid #274b81;
    border-bottom: 3px solid rgb(116, 116, 116);
    padding: 10px;
}

.menuBar ul{
    list-style:none;
}

.menuBar ul li{
    float: left;
    padding-left:10px 0px;
    margin-left:5px;
}

.menuBar ul li a{
    text-decoration:none;
    font-family:tahoma;
    font-size:20px;
    color:#FFA500;
    padding:10px;
    border-radius:5px;
}

.menuBar ul li a:hover {
    background:#b3cbf9  ;
    color: #fff;
}

.search{
    background: #fcebbd;
    border-bottom: 3px solid rgb(255, 145, 0);
    padding: 0px;
}

.searchForm input[type=text] {
    margin-top: 5px;
    padding:4px;
    font-family: tahoma;
    color: rgb(204, 204, 204);
    width:150px;
    border:2px solid rgb(179, 179, 179);
    border-radius: 3px;
}
.sochil ul{
    list-style: none;
    margin-top:1px;
}

.sochil ul li{
    float:right;
    padding:10px 10px;
}

.sochil ul li a{
    color: rgb(68, 68, 68);
}

.sochil ul li a:hover{
    color: rgb(66, 66, 66);
}

.content ul{
    list-style: none;

}

.content ul li{
    float: left;
    margin-left: 70px;
}

.product{
margin:0px;
padding:0px;
}

#pro_img img{
    border-radius: 4px;
}

#pro_img img:hover{
    opacity: 0.7;
}

#pro_title a{
text-decoration: none;
font-family: tahoma;
font-size:12px;
font-weight: bold;
float: right;
color: #000;
margin: 5px;
}

#pro_bay{
float: left;
margin: 7px;
}



.footer{
background:rgb(153, 153, 153);
padding: 25px 15px;
}

.footerMenu ul{
list-style: none;
}

.footerMenu ul li{
float: right;
margin-left: 10px;
padding: 11px;
}

.footerMenu ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
font-size:13px;
font-family:tahoma;
}

.footerMenu ul li a:hover{
    text-decoration: underline;
}

.copyRight{
    background: #666;
    color: #fff;
    font-family: tahoma;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

/* cart area */
.cart{
    font-family: tahoma;
    color: #555;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
}
.cart a{
    color: #db7c00;
}